.catalog {
  @include for-tablet-portrait-up {
    padding: 60px 0 0 0;
  }

  margin: 0 0 0 0;
  padding: 35px 0 0 0;

  font-family: "Open Sans", "Verdana", sans-serif;

  border: none;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;

  list-style: none;
}
