.copyright {
  @include for-desktop-up {
    width: 153px;

    font-size: 18px;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 131px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Verdana", sans-serif;
}

.copyright__copyright-ref {
  &:hover {
    color: $cian;
  }

  &:active {
    color: transparentize($cian, 0.7);
  }

  color: $basic-red;
}
