.copyright {
  align-items: center;
  display: flex;
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 14px;

  font-style: normal;
  font-weight: 400;
  justify-content: space-between;
  line-height: 18px;
  width: 131px;
}
