.features {
  @include for-tablet-portrait-up {
    padding-top: 58px;
    padding-bottom: 6px;

    background: url("../img/mobile-smile--tablet.png") calc(50% - 176px) bottom no-repeat,
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='26'%3E%3Cpolygon points='0,0 320,0 0,26' fill='#{$basic-white-svg}' /%3E%3C/svg%3E") top / 100% no-repeat,
    $basic-gray;
  }

  padding-top: 53px;
  padding-bottom: 286px;

  text-align: center;

  background: url("../img/mobile-smile--mobile.png") 50% bottom no-repeat,
  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='32'%3E%3Cpolygon points='0,0 320,0 0,32' fill='#{$basic-white-svg}' /%3E%3C/svg%3E") top / 100% no-repeat,
  $basic-gray;
}

.features__content-box {
  @include content-position;
  @include for-tablet-portrait-up {
    padding-top: 18px;
    padding-left: 330px;
  }

  padding-top: 32px;
}

.features__feature-title {
  @include for-tablet-portrait-up {
    text-align: left;
  }

  margin: 0;

  font-size: 18px;
  line-height: 24px;
}

.features__feature-description {
  @include for-tablet-portrait-up {
    text-align: left;
  }

  margin-top: 10px;

  font-size: 14px;
  line-height: 24px;
}

.features__article {
  @include for-tablet-portrait-up {
    margin-bottom: 37px;
  }

  margin-bottom: 33px;
}
