.form {
  @include for-tablet-portrait-up {
    display: grid;
    margin-bottom: 43px;
  }

  @include for-desktop-up {
    @include content-position;

    margin-bottom: 0;

    grid-template-columns: 50% 50%;
  }

  font-family: "Open Sans", "Verdana", sans-serif;
}

.form__name-fields {
  @include for-tablet-portrait-up {
    padding-bottom: 0;
    max-width: 620px;
  }

  @include for-desktop-up {
    padding: 5px 0 0;
    width: auto;
  }

  padding: 5px 18px 11px;
  border: none;
  margin: 0 auto;
  max-width: 280px;
}

.form__name-field-box {
  @include for-tablet-portrait-up {
    order: 1;
    padding-top: 67px;
    padding-bottom: 0;
  }

  @include for-desktop-up {
    padding-top: 81px;

    justify-self: start;
  }

  padding-top: 29px;
  padding-bottom: 16px;

  background-color: $basic-white;
}

.form__name-fields-label {
  @include for-tablet-portrait-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 52px 0;
  }

  @include for-desktop-up {
    margin: 0 0 53px;
  }

  display: block;
  margin: 0 0 17px 0;
}

.form__name-fields-label-text {
  @include for-tablet-portrait-up {
    margin: 0 18px 0 0;
  }

  margin: 0 0 0 23px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $basic-red;
}

.form__name-fields-text-input {
  @include for-tablet-portrait-up {
    width: 100%;
    margin: 0;
  }

  @include for-desktop-up {
    min-width: 297px;
    flex: auto;
  }

  display: block;
  width: 236px;
  height: 59px;
  margin: 5px 0 0 0;
  padding: 0 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans", "Verdana", sans-serif;
}

.form__achievements-field-box {
  @include for-tablet-portrait-up {
    order: 4;
    padding-top: 32px;

    background-color: $basic-white;
  }

  @include for-desktop-up {
    width: 100%;
    padding: 56px 0 0;

    grid-column: 1 / 3;
  }

  padding-top: 39px;
  padding-bottom: 47px;

  background-color: $basic-gray;
}

.form__achievements-fields {
  @include for-tablet-portrait-up {
    padding: 0 0 54px 0;
    max-width: 620px;

    border: 2px solid #e5e5e5;
    border-radius: 1px;
  }

  @include for-desktop-up {
    padding: 0 0 7px 0;
    max-width: 1120px;
  }

  max-width: 280px;
  margin: 0 auto;
  padding: 0;
  font-family: "Open Sans", "Verdana", sans-serif;

  border: none;
}

.form__achievements-fields-legend {
  @include for-tablet-portrait-up {
    width: 432px;
    margin: 0 auto 49px;
  }

  @include for-desktop-up {
    margin: 0 auto 47px;
  }

  width: 252px;
  margin: 0 auto 42px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $basic-red;
  text-transform: uppercase;
}

.form__achievements-fields-list {
  @include for-tablet-portrait-up {
    padding-left: 60px;
  }

  @include for-desktop-up {
    display: grid;

    grid-auto-flow: column;
    grid-template-columns: 315px 295px 1fr;
    grid-template-rows: 1fr 1fr;
  }

  margin: 0;
  padding-left: 0;

  list-style: none;
}

.form__achievements-fields-item {
  &:not(:last-child) {
    margin: 0 0 52px 0;
  }
}

.form__achievements-fields-checkbox:checked + .form__achievements-fields-label-text::before {
  background: url("../img/tick.svg") 6px 9px no-repeat $basic-white;
  border-radius: 1px;
}

.form__achievements-fields-label-text {
  position: relative;

  padding: 0 0 0 59px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  &::before {
    @include for-tablet-portrait-up {
      top: -5px;
      left: 0;
    }

    content: "";
    position: absolute;
    top: -7px;
    left: -1px;

    width: 35px;
    height: 35px;

    background-color: $basic-white;
    border: 2px solid $basic-smoky;
    border-radius: 1px;
  }

  &:hover::before {
    border-color: $cian;
  }

  &:active::before {
    border-color: $basic-red;
  }

  color: $cian;
}

.form__contacts-fields-box {
  @include content-position;

  @include for-tablet-portrait-up {
    order: 3;
    padding-top: 22px;
  }

  @include for-desktop-up {
    width: 100%;
    padding: 3px 0 0;

    grid-column: 1 / 3;
    justify-self: start;
  }

  padding-top: 25px;
  padding-bottom: 25px;

  background-color: $basic-white;
}

.form__contacts-fields {
  @include for-tablet-portrait-up {
    padding: 0 54px 4px;
    border: 2px solid $basic-smoky;
    border-radius: 1px;
  }

  @include for-desktop-up {
    display: flex;
    justify-content: space-between;
    padding: 0 55px 0;

    grid-template-columns: 50% 50%;
  }

  padding: 6px 0 0 0;
  border: none;
}

.form__contacts-fields-legend {
  @include for-tablet-portrait-up {
    width: auto;
    padding: 0 31px 0;
    margin: 0 auto 32px;
    display: block;
  }

  @include for-desktop-up {
    margin: 0 auto 29px;
  }

  display: none;
  width: 252px;
  margin: 0 auto 42px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $basic-red;
  text-transform: uppercase;
}

.form__contacts-fields-label {
  @include for-tablet-portrait-up {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 23px;
  }

  @include for-desktop-up {
    margin: 0 0 14px;
  }

  display: block;
  margin: 0 0 17px 0;
}

.form__contacts-fields-label-text {
  @include for-tablet-portrait-up {
    order: 2;
    margin: 10px 0 0 19px;
  }

  margin: 0 0 0 23px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $basic-red;
}

.form__contacts-fields-text-input {
  @include for-tablet-portrait-up {
    position: relative;

    width: 456px;

    &[type="tel"] {
      background: url("../img/phone.svg") right / 59px 59px no-repeat;
    }

    &[type="email"] {
      background: url("../img/envelop.svg") right / 59px 59px no-repeat;
    }
  }

  @include for-desktop-up {
    width: auto;
    min-width: 330px;
  }

  display: block;
  width: 236px;
  height: 59px;
  margin: 5px 0 0 0;
  padding: 0 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans", "Verdana", sans-serif;
}

.form__app-fields-box {
  @include for-tablet-portrait-up {
    @include content-position;

    order: 2;
    padding-top: 5px;
    padding-bottom: 34px;

    background-color: $basic-white;
  }

  @include for-desktop-up {
    width: 435px;
    padding: 72px 0 0 0;
    margin: 0;
    justify-self: end;
  }

  padding-top: 39px;
  padding-bottom: 47px;

  background-color: $basic-gray;
}

.form__app-fields {
  @include for-tablet-portrait-up {
    border: 2px solid $basic-smoky;
    border-radius: 1px;
    max-width: 620px;
  }

  padding: 0;
  border: none;
  max-width: 280px;
  margin: 0 auto;
}

.form__app-fields-legend {
  @include for-tablet-portrait-up {
    width: auto;
    padding: 0 24px 0;
    margin: 0 auto 50px;
  }

  width: 252px;
  margin: 0 auto 39px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $basic-red;
  text-transform: uppercase;
}

.form__app-fields-list {
  @include for-tablet-portrait-up {
    padding: 0 55px 58px;
  }

  @include for-desktop-up {
    padding: 0 69px 58px;
  }

  margin: 0;
  padding: 0;

  list-style: none;
}

.form__app-fields-item:not(:last-child) {
  margin: 0 0 45px 0;
}

.form__app-fields-checkbox:checked + .form__app-fields-label-text::before {
  background: url("../img/circle.svg") center / 15px 15px no-repeat $basic-white;
}

.form__app-fields-label-text {
  @include for-tablet-portrait-up {
    padding: 0 0 0 61px;
  }

  position: relative;

  padding: 0 0 0 70px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  &::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 0;

    width: 37px;
    height: 37px;

    border: 2px solid $basic-smoky;
    border-radius: 50% 50%;
    background-color: $basic-white;
  }

  &:hover::before {
    border-color: $cian;
  }

  &:active::before {
    border-color: $basic-red;
  }

  color: $cian;
}

.form__impressions-fields-box {
  @include content-position;

  @include for-tablet-portrait-up {
    order: 5;
    padding-top: 11px;
  }

  @include for-desktop-up {
    width: 100%;
    padding: 58px 0 0;

    grid-column: 1 / 3;
  }

  padding-top: 38px;
  padding-bottom: 10px;

  background-color: $basic-white;
}

.form__impressions-fields {
  @include for-tablet-portrait-up {
    padding: 0 58px 34px;

    border: 2px solid #e5e5e5;
    border-radius: 1px;
  }

  @include for-desktop-up {
    padding: 0 58px 26px;
  }

  margin: 0 0 0 0;
  padding: 0 0 0 0;

  font-family: "Open Sans", "Verdana", sans-serif;

  border: none;
}

.form__impressions-fields-legend {
  @include for-tablet-portrait-up {
    width: 257px;
    margin: 0 auto 32px;
  }

  @include for-desktop-up {
    margin: 0 auto 29px;
  }

  width: 252px;
  margin: 0 auto 11px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $basic-red;
  text-transform: uppercase;
}

.form__impressions-fields-label {
  display: block;
  margin: 0 0 17px 0;
}

.form__impressions-fields-label-text {
  margin: 0 0 0 23px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $basic-red;
}

.form__impressions-fields-text-input {
  @include for-tablet-portrait-up {
    width: 456px;
    margin: 5px auto 0;
    padding: 13px 19px 5px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    font-family: "Open Sans", "Verdana", sans-serif;
  }

  @include for-desktop-up {
    box-sizing: border-box;
    width: 100%;
    height: 128px;
  }

  display: block;
  width: 236px;
  height: 171px;
  margin: 5px 0 0 0;
  padding: 13px 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  resize: none;
}

.form__submit-btn-box {
  @include content-position;

  @include for-tablet-portrait-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 6;
    padding-top: 56px;
  }

  @include for-desktop-up {
    width: 100%;
    padding: 65px 0 0;

    grid-column: 1 / 3;
  }

  padding-top: 21px;
  padding-bottom: 4px;

  background-color: $basic-white;
}

.form__submit-btn {
  @include for-tablet-portrait-up {
    width: 300px;
    height: 62px;
  }

  display: block;
  padding: 16px 47px 16px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: $basic-white;
  text-transform: uppercase;
  background-color: $basic-smoky;

  border: none;
  border-radius: 3px;

  &:disabled {
    color: $basic-white;
    background-color: $basic-smoky;
  }
}

.form__submit-btn--active {
  background-color: $basic-green;

  &:hover {
    background-color: $condensed-green;
  }

  &:active {
    color: transparentize($basic-white, 0.7);
    background-color: $condensed-green;
  }
}

.form__footnote {
  @include for-tablet-portrait-up {
    margin: 0;
  }

  margin-top: 34px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $basic-black;
  text-transform: uppercase;
}

.form__footnote-tag {
  color: $basic-red;
}

.form__footnote-text-comprehensive {
  @include for-desktop-up {
    display: inline;
  }

  display: none;
  color: $cian;
}

.form__footnote-text-short {
  @include for-desktop-up {
    display: none;
  }

  display: inline;
}

.form__fields-text-input {
  border: 2px solid $basic-smoky;
  border-radius: 3px;


  &:hover {
    border-color: $cian;
  }

  &:focus {
    outline: none;
    border-color: $basic-red;
  }

  color: $cian;
}

.form__fields-text-input::placeholder {
  color: $cian;
}
