.main-nav {
  @include for-desktop-up {
    @include content-position;
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__toggle {
  @include for-desktop-up {
    display: none;
  }

  position: relative;

  align-self: end;
  width: 50px;
  height: 24px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main-nav__content-box {
  @include content-position;

  @include for-tablet-portrait-up {
    padding-top: 26px;
    padding-bottom: 41px;
  }

  @include for-desktop-up {
    padding: 26px 0 40px;
    margin: 0;
    width: auto;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 20px;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 50px;
  height: 4px;

  background-color: $basic-white;
  border-radius: 1px;
  box-shadow: 0 10px 0 0 $basic-white, 0 20px 0 0 $basic-white;
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 23px;

    width: 30px;
    height: 3px;

    background-color: $basic-white;
  }

  &::before {
    box-shadow: none;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav.main-nav--opened {
  background-color: $cian;
}

.main-nav.main-nav--opened .main-nav__menu-box {
  border-bottom: 1px solid $basic-black;
}

.main-nav--closed .main-nav__site-nav-list {
  @include for-desktop-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 618px;
    margin-left: 44px;
  }

  display: none;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav__site-nav-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__site-nav-item {
  text-align: center;
}

.main-nav__site-nav-link {
  @include for-tablet-portrait-up {
    padding: 15px 0;
  }

  @include for-desktop-up {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-transform: capitalize;
    border: none;
  }

  display: block;
  padding: 10px 0;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: $basic-white;
  text-transform: uppercase;

  border-top: 1px solid transparentize($basic-white, 0.85);
  border-bottom: 1px solid $basic-black;
}

.main-nav__site-nav-item--active {
  @include for-desktop-up {
    box-sizing: border-box;
    border-bottom: $basic-white solid 2px;
  }
}
