.map {
  @include for-phone-only {
    background: url("../img/map--mobile.jpg") 50% 50% / 100% no-repeat, $basic-white;

    @media (min-resolution: 2dppx) {
      background: url("../img/map--mobile@2x.jpg") 50% 50% / 100% no-repeat, $basic-white;
    }
  }

  @include for-tablet-portrait-up {
    background: url("../img/map--tablet.jpg") 50% 50% / 100% no-repeat, $basic-white;

    @media (min-resolution: 2dppx) {
      background: url("../img/map--tablet@2x.jpg") 50% 50% / 100% no-repeat, $basic-white;
    }
  }

  @include for-desktop-up {
    background: url("../img/map--desktop.jpg") 50% 50% / 100% no-repeat, $basic-white;

    @media (min-resolution: 2dppx) {
      background: url("../img/map--desktop@2x.jpg") 50% 50% / 100% no-repeat, $basic-white;
    }
  }

  position: relative;
  min-height: 200px;

  &::after {
    @include for-tablet-portrait-up {
      background: url("../img/triangle.svg") top left/100% 67px no-repeat;
      height: 67px;
    }

    @include for-desktop-up {
      background: url("../img/triangle.svg") top left/100% 105px no-repeat;
      height: 105px;
    }

    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 32px;


    background: url("../img/triangle.svg") top left/100% 32px no-repeat;
  }

  .map__frame {
    @include for-tablet-portrait-up {
      height: 374px;
    }

    @include for-desktop-up {
      height: 503px;
    }

    display: block;
    width: 100%;
    margin: 0 auto;

    border: none;
  }

  .map__frame--no-js {
    opacity: 0;
  }
}
