.map {
  position: relative;

  min-height: 200px;

  background: url("../img/map-mobile.jpg") 50% 50% / 320px no-repeat, $basic-white;

  iframe {
    display: block;
    width: 100%;
    margin: 0 auto;
    background: transparent;
    border: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 160px);

    width: 100%;
    height: 32px;

    background: url("../img/triangle.svg") top left / 320px 32px no-repeat;
  }
}
