.page-body {
  align-items: center;
  background-color: $basic-white;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", "Verdana", sans-serif;
  font-style: normal;
  margin: 0 auto;
}
