.page-footer {
  @include for-tablet-portrait-up {
    height: 119px;
    padding-top: 8px;
    padding-bottom: 0;
  }

  @include for-desktop-up {
    padding-top: 42px;
  }

  padding-top: 39px;
  padding-bottom: 40px;

  background-color: $basic-white;
}

.page-footer__content-box {
  @include content-position;

  @include for-tablet-portrait-up {
    flex-direction: row;
    justify-content: space-between;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__social {
  @include for-tablet-portrait-up {
    margin-top: 30px;
  }

  margin-top: 36px;
}

.page-footer__copyright {
  @include for-tablet-portrait-up {
    margin-top: 14px;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Verdana", sans-serif;
}
