.product-card {
  @include for-tablet-portrait-up {
    width: $product-card-width--tablet;
    min-height: 100%;

  }
  display: flex;
  flex-direction: column;
  width: $product-card-width--mobile;
  min-height: 100%;
}

.product-card__image {
  @include for-tablet-portrait-up {
    width: 300px;
    height: 300px;
    object-fit: fill;
  }

  display: block;
}

.product-card__img-wrapper {
  display: block;
}


.product-card__annotation {
  @include for-tablet-portrait-up {
    padding: 23px 30px;
  }

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: $basic-gray;
  padding: 17px 0 20px 17px;
}

.product-card__summary {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.product-card__author {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.product-card__posted {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.product-card__full {
  @include for-tablet-portrait-up {
    min-height: 48px;
  }

  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  flex-grow: 1;
  min-height: 48px;
}

.product-card__like-box {
  @include for-tablet-portrait-up {
    justify-content: space-between;
  }

  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
}

.product-card__like-button {
  @include for-tablet-portrait-up {
    order: 2;
  }

  border: none;
  width: 13px;
  height: 12px;
  background: url("../img/heart.svg") 0 0 / 13px 12px $basic-gray;
  cursor: pointer;
}

.product-card__like-counter {
  @include for-tablet-portrait-up {
    margin: 0;
  }

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $basic-red;
  margin-left: 19px;
}
