.showcase {
  @include for-tablet-portrait-up {
    background: url("../img/back-tablet.jpg") left top / 100% no-repeat, $dark-cian;
  }

  padding-bottom: 32px;

  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  font-family: $title-font;
  text-align: center;
  color: $basic-white;
  letter-spacing: 0;

  background-color: $dark-cian;
}

.showcase__title {
  min-height: 205px;
  margin: 0;
  padding: 94px 10px 12px;

  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}

.showcase__slogan-box {
  @include for-tablet-portrait-up {
    background: transparent;
  }

  height: 462px;

  background: url("../img/hand-with-mobile.png") 50% 176px no-repeat, url("../img/back-mobile.jpg") left top / 100% no-repeat, $dark-cian;
}

.showcase__slogan {
  @include content-position;

  padding: 90px 10px 342px;
}

.showcase__refs-block {
  @include content-position;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 26px;
}

.showcase__default-ref {
  display: block;
  box-sizing: border-box;
  width: 280px;
  padding-top: 17px;
  padding-bottom: 15px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $basic-white;

  border: 3px solid $basic-white;
  border-radius: 29px;
}

.showcase__download-refs-box {
  display: grid;
  align-items: center;
  width: 240px;
  margin: 33px auto 0;

  grid-template-columns: repeat(3, 1fr);
}

.showcase__download-refs-description {
  width: 230px;
  margin: 14px auto 0;

  font-size: 14px;
  line-height: 24px;
}
