.slogans {
  padding-top: 40px;
  padding-bottom: 32px;

  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='32'%3E%3Cpolygon points='0,32 320,0 320,32' fill='#{$basic-gray-svg}' /%3E%3C/svg%3E") bottom / 100% 32px no-repeat;
}

.slogans__slogan {
  margin: 0 0 29px 0;

  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: $cian;
}
