.social {
  @include for-tablet-portrait-up {
    padding-right: 15px;
    gap: 11px;
  }

  @include for-desktop-up {
    min-width: 180px;
    padding-right: 0;
    gap: 0;
  }

  display: flex;
  justify-content: space-between;
  min-width: 187px;
  padding: 0;

  list-style: none;
}

.social__link {
  display: block;
  width: 48px;
  height: 48px;

  border: 3px solid transparentize($cian, 0.9);
  border-radius: 50% 50%;

  &--vk {
    background: url("../img/vk.svg") 50% 50% no-repeat;
  }

  &--telegram {
    background: url("../img/tg.svg") 50% 50%  no-repeat;
  }

  &--youtube {
    background: url("../img/youtube.svg") 50% 50% no-repeat;
  }
}

.social__item {
  @include for-tablet-portrait-up {
    padding: 0;
  }
  padding: 0 3px 0 3px;
}
