.table-tariffs {
  @include for-tablet-portrait-up {
    width: $tablet-width - 2 * $content-padding--tablet;
    min-height: 218px;
    margin: 0 auto;
  }

  width: 832px;
  min-height: 277px;
  margin-bottom: 22px;

  border-collapse: collapse;
  color: $basic-white;
}

.table-tariffs__wrapper {
  @include content-position;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  overflow-x: clip;
}

.table-tariffs__table-header {
  @include for-tablet-portrait-up {
    width: 153px;
    padding: 11px 0 9px;

    &:first-child {
      background: transparent;
    }

  }

  position: relative;

  padding-bottom: 16px;

  background-color: $cian;
  background-clip: padding-box;
  border-bottom: none;

  &:not(:first-child) {
    border-left: $basic-white 2px solid;
  }

  &:not(:last-child) {
    border-right: $basic-white 2px solid;
  }

  &--badge {
    &::after {
      @include for-tablet-portrait-up {
        top: 0;
        left: 0;

        background-image: url("../img/badge-up-to-tablet.svg");
        background-size: 60px 60px;
      }

      content: "";
      position: absolute;
      top: 0;
      left: -2px;

      width: 74px;
      height: 74px;

      background-image: url("../img/hit-badge.svg");
      background-repeat: no-repeat;
    }
  }

  &--up-to-mobile {
    @include for-tablet-portrait-up {
      display: table-cell;
    }

    display: none;
  }
}

.table-tariffs__header-row {
  @include for-tablet-portrait-up {
    height: auto;
  }
  height: 98px;
}

.table-tariffs__body-row {
  @include for-tablet-portrait-up {
    height: 46px;
  }

  height: 61px;
}

.table-tariffs__table-definition {
  @include for-tablet-portrait-up {
    text-transform: capitalize;
  }

  position: relative;

  padding: 14px 19px 15px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  color: $cian;
  text-transform: uppercase;

  background-color: $basic-white;
  background-clip: padding-box;
  border: $basic-smoky 2px solid;
  border-top: none;

  &--available::after {
    @include for-tablet-portrait-up {
      top: 12px;
      left: 60px;
    }

    content: "";
    position: absolute;
    top: 19px;
    left: 228px;

    width: 74px;
    height: 74px;

    background-image: url("../img/yes.svg");
    background-repeat: no-repeat;
  }

  &--unavailable::after {
    @include for-tablet-portrait-up {
      top: 8px;
      left: 62px;
    }

    content: "";
    position: absolute;
    top: 16px;
    left: 229px;

    width: 74px;
    height: 74px;

    background-image: url("../img/no.svg");
    background-repeat: no-repeat;
  }

  &--up-to-mobile {
    @include for-tablet-portrait-up {
      display: table-cell;
      height: 45px;
      padding: 0 0 0 16px;

      font-weight: 400;
      font-size: 14px;
      line-height: 30px;
      text-align: left;
      color: $cian;

      background-color: $basic-white;
      background-clip: padding-box;
      border: $basic-smoky 2px solid;
    }

    display: none;
  }
}

.table-tariffs__tariff-name {
  @include for-tablet-portrait-up {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
  }

  display: block;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.table-tariffs__rate {

  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.table-tariffs__tariff-option {
  @include for-tablet-portrait-up {
    display: none;
  }
}
