.terms {
  padding: 44px 0 0 0;

  background-color: $basic-white;
}

.terms__text {
  @include content-position;

  @include for-tablet-portrait-up {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 47px 50px 0;
  }

  @include for-desktop-up {
    padding: 47px 200px 0;
  }

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  font-family: "Open Sans", "Verdana", sans-serif;
  text-align: center;
}

.terms__text--additional {
  @include content-position;

  @include for-tablet-portrait-up {
    display: inline;

    font: inherit;
  }

  @include for-desktop-up {
    padding: 0;
  }

  display: none;
}
