.toggles-box {
  @include for-desktop-up {
    display: none;
  }

  display: flex;
  justify-content: space-between;
  width: 62px;
  margin-top: 17px;
}

.toggles-box__toggle {
  position: relative;

  display: block;
  width: 6px;
  height: 6px;
  margin: 3px;
  padding: 0;

  background-color: transparentize($cian, 0.7);
  border: none;
  border-radius: 50% 50%;
  cursor: pointer;

  &:hover {
    background-color: transparentize($cian, 0.4);
  }

  &:active {
    background-color: transparentize($cian, 0.9);
  }

  &--current {
    background-color: $basic-white;

    &::before {
      content: "";
      position: absolute;
      top: -3px;
      left: -3px;

      width: 12px;
      height: 12px;

      background-color: $cian;
      border: none;
      border-radius: 50% 50%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 6px;
      height: 6px;

      background-color: $basic-white;
      border: none;
      border-radius: 50% 50%;
    }
  }
}
