$tablet-widths: "768px";
$desktop-widths: "1200px";

$basic-white: #ffffff;
$dark-cian: #1d2631;

$color-text: #000000;
$color-border: #dbdbdb;
$color-bg-btn: #81b3d2;
$color-bg-btn-hover: #669ec0;
$color-bg-btn-down: #5496bd;

$main-font: "PT Sans", "Arial", sans-serif;
$title-font: "Open Sans", "Arial", sans-serif;
