$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1200px;

$content-padding--mobile: 20px;
$content-padding--tablet: 20px;
$content-padding--desktop: 130px;

$content-width--desktop: $desktop-width - 2 * $content-padding--desktop;

$pop-up-width--mobile:320px;
$pop-up-width--tablet: 460px;
$pop-up-width--desktop: 780px;

$pop-up-padding--mobile: 20px;
$pop-up-padding--tablet: 80px;

$product-card-width--mobile: 280px;
$product-card-width--tablet: 300px;
$product-card-width--desktop: 300px;

$product-card-height--tablet: 455px;
$product-card-height--desktop: 555px;

$basic-white: #ffffff;
$basic-black: #000000;
$basic-smoky: #e5e5e5;
$basic-gray: #f2f2f2;
$basic-red:  #d22856;
$basic-green: #2aab6d;
$basic-gray-svg: "%23f2f2f2";
$basic-white-svg: "%23ffffff";
$dark-cian: #1d2631;
$cian: #283645;

$color-text: #000000;
$color-border: #dbdbdb;
$color-bg-btn: #81b3d2;
$color-bg-btn-hover: #669ec0;
$color-bg-btn-down: #5496bd;

$main-font: "PT Sans", "Arial", sans-serif;
$title-font: "Open Sans", "Arial", sans-serif;
