$mobile-width: 320px;
$tablet-width: "660px";
$desktop-width: "1200px";

$basic-white: #ffffff;
$basic-black: #000000;
$basic-smoky: #e5e5e5;
$basic-gray: #f2f2f2;
$basic-red:  #d22856;
$basic-green: #2aab6d;
$basic-gray-svg: "%23f2f2f2";
$dark-cian: #1d2631;
$cian: #283645;

$color-text: #000000;
$color-border: #dbdbdb;
$color-bg-btn: #81b3d2;
$color-bg-btn-hover: #669ec0;
$color-bg-btn-down: #5496bd;

$main-font: "PT Sans", "Arial", sans-serif;
$title-font: "Open Sans", "Arial", sans-serif;
