@mixin for-phone-only {
  @media (max-width: $tablet-width-1) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin content-position {
  @include for-tablet-portrait-up {
    width: $tablet-width;
    padding-right: $content-padding--mobile;
    padding-left: $content-padding--mobile;
  }

  box-sizing: border-box;
  width: $mobile-width;
  margin: 0 auto;
  padding-right: $content-padding--mobile;
  padding-left: $content-padding--mobile;
}
